
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list = new WebDemoMVC.Models.ReturnData();
   // list.ReturnMsg = "Xin chao anh em";
}

<h2>Index</h2>
<div class="row">
    <div class="form-group">
        <div class="col-md-6">
            <input type="text" class="form-control col-md-8" id="txtKeySearch" />
            <button class="btn btn-primary  col-md-2" id="btnSearch">Tìm </button>
        </div>
    </div>
</div>
@Html.Action("ProductListPartialView", "Product")
@Html.Partial("~/Views/Home/PartialViewDemo2.cshtml", list)
<img src="http://localhost:5022/Product/06ea3c56-b4ea-4ffb-a0cd-1e7f1866b7de.png"/>
<div id="KhoChuaPartial"></div>

<script>
    $(document).ready(function () {
        LoadData("");

        $("#btnSearch").click(function () {
            var keysearch = $("#txtKeySearch").val();
            LoadData(keysearch);
        });
    });

    function LoadData(keysearch) {
        debugger;
        var param = {
            keysearch: keysearch,
            token: getCookie("TOKEN_SERVER")
        };
        $.ajax({
            type: 'POST',
            url: "/Product/ProductListPartialView",
            data: param,
            dataType: "html",
            success: function (data) {
                $("#KhoChuaPartial").html(""); // quét dọn kho
                $("#KhoChuaPartial").html(data); // đưa hàng vào kho
            },
            error: function (data) {
                console.log("error:" + JSON.stringify(data));
            }
        });
    }

    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
</script>