@{
    ViewBag.Title = "Home Page";
    var datetime = DateTime.Now.ToString("dd/MM/yyyy");

}

@model List<WebDemoMVC.EntitiesFrameWork.Entites.Category>

<div class="jumbotron">
    <h1>ASP.NET BE 3007 THAY QUAN Ngay : @datetime</h1>
</div>



<div class="row">
    <div>
        <div class="form-group">
            <input type="text" id="txtCatId" class="form-control" placeholder="Nhập ID" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="txtCateName" placeholder="Nhập tên" />
        </div>

        <div class="form-group">
            <button class="btn btn-primary" id="btnSave" type="button">Thêm mới</button>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Lastname</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CategoryId</td>
                        <td>@item.CategoryName</td>
                        <td><a onclick="Category_Delete(@item.CategoryId)">Xóa</a></td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {

        $("#btnSave").click(function () {
            CategoryInsert();
        })

    });

    function Category_Delete(id) {

        var result = confirm("Bạn có chắc chắn muốn xóa bản ghi này không ?");

        if (result == true) {
            var param = {
                id: id
            };

            $.ajax({
                type: 'POST',
                url: "/Home/Del",
                data: param,
                dataType: "json",
                success: function (data) {
                    alert(data.msg);
                },
                error: function (data) {
                    console.log("error:" + JSON.stringify(data));
                }
            });
        }
    }

    function CategoryInsert() {

        var id = $("#txtCatId").val();
        var name = $("#txtCateName").val();

        var param = {
            CategoryId: id,
            CategoryName: name
        };
        $.ajax({
            type: 'POST',
            url: "/Home/Insert",
            data: param,
            dataType: "json",
            success: function (data) {
                alert(data.msg);
            },
            error: function (data) {
                console.log("error:" + JSON.stringify(data));
            }
        });
    }
</script>